!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title Snowglobe WIP
    %meta{name: 'viewport', content: 'width=device-width, user-scalable=no'}
    %link{rel: 'stylesheet', href: '//fonts.googleapis.com/css?family=Lato:300,700'}
    %link{rel: 'stylesheet', href: '/css/application.css'}
  %body
    %header The Snow-Lobe
    #wrapper
      .globe
      .mask
        .plinth
          %a{href: '#'} Another?
    %footer
      %iframe{src: "//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsnowlobe.com&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=516445358451836", scrolling: "no", frameborder: 0, style: "border:none; overflow:hidden; height:21px;", allowTransparency: "true"}
    %script{src: '/js/shake.js'}
    %script{src: '/js/application.js', defer: true}