!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title The Snow-Lobe
    %meta{name: 'viewport', content: 'width=device-width, user-scalable=no'}
    %link{rel: 'stylesheet', href: '//fonts.googleapis.com/css?family=Lato:300,700|Mountains+of+Christmas'}
    %link{rel: 'stylesheet', href: '/css/application.css'}
  %body
    #fb-root
    %header
      %h1 The Snow-Lobe
      %p #lobes live from Instagram. Fresh as falling snow.
    #wrapper
      .globe
        .image
      .mask
        .plinth
          %a{href: '#'} New ear?
    %footer
      .social
        .fb-share-button{'data-href' => 'http://snowlobe.com', 'data-width' => 85, 'data-type' => 'button'}
        %a.twitter-share-button{href: 'https://twitter.com/share', 'data-hashtags' => 'snowlobe', 'data-related' => 'mcmillatronic,matthewgparsons,mattbutler07', 'data-count' => 'none', 'data-text' => 'The Snow-Lobe'} Tweet
        %a.tumblr-share-button{href: "http://www.tumblr.com/share", title: "Share on Tumblr", style: "display:inline-block; text-indent:-9999px; overflow:hidden; width:61px; height:20px; background:url('http://platform.tumblr.com/v1/share_2.png') top left no-repeat transparent;"} Share on Tumblr
        .reddit-share-button
          %script{src: "http://www.reddit.com/static/button/button1.js"}
      .credits
        Created by 
        %a{href: '//twitter.com/mattbutler07'} Matt
        and 
        %a{href: '//twitter.com/matthewgparsons'} Matt
        and 
        %a{href: '//twitter.com/mcmillatronic'} Josh
    :javascript
      var Config = {
        lobes: [
          "http://distilleryimage4.ak.instagram.com/de84723658a711e380a30e9a0402a7de_8.jpg",
          "http://distilleryimage0.ak.instagram.com/5d7349a2591911e39a5a12a62c3665ab_8.jpg",
          "http://distilleryimage3.ak.instagram.com/93d36cbc56ed11e392f11272c16e65b0_8.jpg",
          "http://distilleryimage9.ak.instagram.com/57e8afa4585b11e3b8a312566eba8eff_8.jpg"
        ]
      };
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=516445358451836";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    %script{src: '/js/shake.js', defer: true}
    %script{src: '/js/application.js', defer: true}