!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title The Snow-Lobe

    / Viewport
    %meta{name: 'viewport', content: 'width=device-width, user-scalable=no'}

    / Open Graph
    %meta{property: 'og:title', content: 'The Snow-Lobe'}
    %meta{property: 'og:description', content: 'Christmas has come EARly.'}
    %meta{property: 'og:url', content: 'http://snowlobe.com/'}
    %meta{property: 'og:image', content: 'http://snowlobe.com/img/open-graph.jpg'}

    / CSS
    %link{rel: 'stylesheet', href: '//fonts.googleapis.com/css?family=Lato:300,700|Mountains+of+Christmas'}
    %link{rel: 'stylesheet', href: '/css/application.css'}
  %body
    #fb-root
    %header
      %h1 The Snow-Lobe
      %p #lobes live from Instagram. Fresh as falling snow.
    #wrapper
      .globe
        .image
      .mask
        .plinth
          %a{href: '#'} New ear?
          %span Shake for a new ear!
    %footer
      .social
        .share.fb
          .fb-share-button{'data-href' => 'http://snowlobe.com', 'data-width' => 85, 'data-type' => 'button'}
        .share.twitter
          %a.twitter-share-button{href: 'https://twitter.com/share', 'data-hashtags' => 'snowlobe', 'data-related' => 'mcmillatronic,matthewgparsons,mattbutler07', 'data-count' => 'none', 'data-text' => 'The Snow-Lobe'} Tweet
        .share.tumblr
          %a.tumblr-share-button{href: "http://www.tumblr.com/share", title: "Share on Tumblr", style: "display:inline-block; text-indent:-9999px; overflow:hidden; width:61px; height:20px; background:url('http://platform.tumblr.com/v1/share_2.png') top left no-repeat transparent;"} Share on Tumblr
        .share.reddit
          %script{src: "http://www.reddit.com/static/button/button1.js"}
      .credits
        Created by 
        %a{href: '//twitter.com/mattbutler07', target: '_blank'} Matt
        and 
        %a{href: '//twitter.com/matthewgparsons', target: '_blank'} Matt
        and 
        %a{href: '//twitter.com/mcmillatronic', target: '_blank'} Josh
    :javascript
      var Config = {
        lobes: #{@lobes.to_json}
      };
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=516445358451836";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46311561-1', 'snowlobe.com');
      ga('send', 'pageview');
    %script{src: '/js/shake.js', defer: true}
    %script{src: '/js/application.js', defer: true}