@import "bourbon"

*
  +box-sizing(border-box)
  margin: 0
  padding: 0

html,
body
  min-height: 100%

body
  font: 300 14px "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  background-color: #fff
  background-image: url("/img/background.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: center

header
  text-align: center
  font-weight: 300
  position: absolute
  top: 0
  left: 0
  right: 0
  padding: 10px 0
  z-index: 10
  background: #fff
  +box-shadow(0 2px 2px rgba(0, 0, 0, 0.1))

  h1
    font-size: 28px
    text-transform: uppercase

  p
    margin-top: 2px

#wrapper
  width: 290px
  height: 383px
  position: absolute
  top: 50%
  left: 50%
  margin: (-383px / 2) 0 0 (-290px / 2)
  background: #fff
  border-radius: 10px
  +box-shadow(0 2px 2px rgba(0, 0, 0, 0.1))

  .globe
    margin: 0
    position: absolute
    top: 20px
    left: 10px
    z-index: 1
    overflow: hidden
    width: 270px
    height: 270px
    border-radius: 320px
    +box-shadow(inset 0 5px rgba(255, 255, 255, 0.2))
    border-top: 1px #000 solid
    margin: 0 auto
    background: #69D2E7

    .image
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      background-size: cover
      opacity: 0
      transition: 0.3s ease opacity

      &.visible
        opacity: 1

    .flake
      position: absolute
      width: 2px
      height: 2px
      top: 0
      background: #fff
      border-radius: 2px
      top: -5px
      +box-shadow(0 0 0 2px rgba(255, 255, 255, 0.2))
      +animation(6s fall infinite linear)

  .mask
    z-index: 2
    position: absolute
    top: 20px
    left: 10px
    width: 270px
    height: 343px 
    background-image: url("/img/mask.png")
    background-size: cover

    .plinth
      margin-top: 270px
      text-align: center

      p
        font-size: 12px
        font-style: italic
        margin-bottom: 5px

      a
        padding: 5px 12px
        border: 2px #000 solid
        display: inline-block
        border-radius: 4px
        color: #000
        text-decoration: none
        transition-duration: 0.3s
        transition-timing-function: ease 
        transition-property: background, color

        &:hover
          background: #000
          color: #fff

      span
        display: none
        font-size: 20px

footer
  position: absolute
  bottom: 0
  left: 0
  right: 0
  padding: 10px 15px
  text-align: center
  background: #fff
  z-index: 10
  +box-shadow(0 -2px 2px rgba(0, 0, 0, 0.1))
  +clearfix

  .social
    height: 21px
    float: left
    overflow: hidden
    position: relative
    +clearfix

    .share
      height: 21px
      overflow: hidden
      margin-right: 10px
      display: inline-block
      position: absolute
      top: 0

      &.twitter
        width: 58px

      &.reddit
        margin-top: 1px

  .credits
    font-size: 12px
    margin-top: 3px
    float: right

@media all and (max-height: 480px)
  header
    position: relative
    +box-shadow(none)
    background: none
    color: #fff

    h1
      font-size: 20px

    p
      font-size: 13px
  
  #wrapper
    position: relative
    margin: 0 auto
    left: 0
    top: 0
  
  footer
    position: relative
    margin-top: 10px

@media all and (max-width: 640px)
  footer
    .social,
    .credits
      float: none
      text-align: center

+keyframes(fall)
  0%
    opacity: 0
    top: -50px

  25%
    opacity: 1

  100%
    opacity: 0.6
    top: 320px